.add-place {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background to show the blur */
    backdrop-filter: blur(10px);
    border-radius: 30px; 
    padding: 20px;
  }
  
  .add-place h1 {
    text-align: center;
    color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  